<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>MENU</h1>
    <table>
        <thead>
            <tr id="nav">
                <th>
                    <div id="navSnacks" class="navItem" onclick="showCategory('snacks')"
                        style="background: linear-gradient(90deg, rgba(255, 186, 9, 1) 32%, rgba(238, 238, 24, 1) 100%)">
                        <h6>Snacks</h6>
                        <img src="https://images.squarespace-cdn.com/content/v1/54f681f1e4b094fe88e5e857/1442519748040-XPIMZGHJZ6P7WCGAD5O4/snacks.png?format=2500w"
                            class="img" alt="Snacks nav img">
                    </div>
                </th>
                <th>
                    <div id="navDeserts" class="navItem" onclick="showCategory('dezerty')"
                        style="background: radial-gradient(circle, rgb(255, 230, 191) 0%, rgb(255, 149, 199) 100%);">
                        <h6>Dezerty</h6>
                        <img src="https://www.pngplay.com/wp-content/uploads/13/Dessert-PNG-Background.png"
                            alt="dezerty image" class="img">
                    </div>
                </th>
                <th>
                    <div id="navDrinks" class="navItem" onclick="showCategory('napoje')"
                        style="background: linear-gradient(22deg, rgba(118, 176, 255, 1) 0%, rgba(130, 255, 169, 1) 100%)">
                        <h6>Nápoje</h6>
                        <img src="https://static.wixstatic.com/media/9971db_55f2a83049824c70b708d6d3fc3b8810~mv2.png/v1/crop/x_106,y_0,w_625,h_537/fill/w_280,h_238,al_c,q_95,enc_auto/napoje.png"
                            alt="napoje image" class="img">
                    </div>
                </th>
                <th>
                    <div id="navFastFood" class="navItem" onclick="showCategory('rychle')"
                        style="background: linear-gradient(22deg, rgba(97, 255, 85, 1) 0%, rgba(226, 255, 101, 1) 100%);">
                        <h6>Rychlé jídlo</h6>
                        <img src="https://www.freepnglogos.com/uploads/food-png/high-resolution-food-clipart-collection-19.png"
                            alt="jídlo image" class="img">
                    </div>
                </th>
                <th>
                    <div id="navPotreby" class="navItem" onclick="showCategory('potreby')"
                        style="background: radial-gradient(circle, rgba(209, 23, 23, 1) 0%, rgba(209, 23, 23, 1) 100%);">
                        <h6>Školní potřeby</h6>
                        <img src="https://www.nonari.cz/user/categories/orig/jj.png" alt="Potreby image" class="img">
                    </div>
                </th>
            </tr>
        </thead>
    </table>
</body>

</html>